{% extends 'base.html.twig' %}

{% block title %}Medicijn index{% endblock %}

{% block body %}
    <h1>Medicijn index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Werking</th>
                <th>Bijwerking</th>
                <th>Prijs</th>
                <th>Verzekerd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicijn in medicijns %}
            <tr>
                <td>{{ medicijn.id }}</td>
                <td>{{ medicijn.naam }}</td>
                <td>{{ medicijn.werking }}</td>
                <td>{{ medicijn.bijwerking }}</td>
                <td>{{ medicijn.prijs }}</td>
                <td>{{ medicijn.verzekerd ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('medicijn_show', {'id': medicijn.id}) }}">show</a>
                    <a href="{{ path('medicijn_edit', {'id': medicijn.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medicijn_new') }}">Create new</a>
{% endblock %}
